In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('kyphosis.csv')

In [3]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [4]:
data.shape

(81, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [6]:
x = data.drop('Kyphosis', axis=1)

In [7]:
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [8]:
y = data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [10]:
x_train.shape

(56, 3)

In [11]:
x_test.shape

(25, 3)

In [13]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [23]:
pred = model.predict(x_test)

In [24]:
y_test

14     absent
37    present
65     absent
44     absent
11     absent
63     absent
68     absent
4      absent
52    present
34     absent
48    present
9     present
40    present
10    present
12     absent
35     absent
46     absent
5      absent
36     absent
31     absent
79    present
76    present
17     absent
61    present
60    present
Name: Kyphosis, dtype: object

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.68

In [26]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[14,  1],
       [ 7,  3]], dtype=int64)