In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('kyphosis.csv')

In [4]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [5]:
data.shape

(81, 4)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [7]:
x = data.drop('Kyphosis', axis=1)

In [8]:
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [9]:
y = data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [11]:
x_train.shape

(56, 3)

In [12]:
x_test.shape

(25, 3)

In [14]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [15]:
pred = model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'present', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'present', 'present', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent'], dtype=object)

In [16]:
y_test

80     absent
49     absent
69     absent
41     absent
63     absent
4      absent
19     absent
21    present
8      absent
43     absent
16     absent
48    present
38     absent
55     absent
23     absent
61    present
68     absent
78     absent
20     absent
30     absent
29     absent
73     absent
24    present
15     absent
72     absent
Name: Kyphosis, dtype: object

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.88

In [18]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y)

array([[20,  1],
       [ 2,  2]], dtype=int64)

In [21]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=50)

In [22]:
pred = model.predict(x_test)

In [23]:
y_test

80     absent
49     absent
69     absent
41     absent
63     absent
4      absent
19     absent
21    present
8      absent
43     absent
16     absent
48    present
38     absent
55     absent
23     absent
61    present
68     absent
78     absent
20     absent
30     absent
29     absent
73     absent
24    present
15     absent
72     absent
Name: Kyphosis, dtype: object

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.96

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[21,  0],
       [ 1,  3]], dtype=int64)

In [26]:
data['Kyphosis'].value_counts()

absent     64
present    17
Name: Kyphosis, dtype: int64